:root {
  --red: #fe2247;
  --red-hover: rgb(254, 110, 134);
  --black: #2f4553;
  --black-hover: rgb(75, 110, 132);
  --green: #419e3f;
  --green-hover: rgb(105, 194, 103);
  --bg: #1a2c38;
  --bg-dark: #0f212e;

  --square-size: 3rem;
  --square-gap: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  color: rgb(218, 218, 218);

  background-color: var(--bg);
}

input {
  all: unset;
  border: var(--black) solid 3px;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.75rem 0.5rem;
}

input.error {
  border-color: var(--red);
  animation: shake 0.5s;
}

input::placeholder {
  color: var(--black);
  font-style: italic;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;

  transition: scale 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
}
button:active {
  scale: 0.95;
}

.inputs {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.inputs__top {
  display: flex;
  gap: 0.5rem;
}
.inputs__top > input {
  flex: 2;
}
.inputs__top > button {
  flex: 1;
}

.clear-button {
  background-color: var(--red);
  padding: 0.75rem 0.5rem;
}
.clear-button:hover {
  background-color: var(--red-hover);
}
.copy-button {
  background-color: var(--green);
  padding: 0.75rem 0.5rem;
}
.copy-button:hover {
  background-color: var(--green-hover);
}

.chip {
  height: 1.25rem;
  position: absolute;
  aspect-ratio: 1/1;
  border: 4px dashed white;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.container {
  margin: 10rem auto 0;

  width: fit-content;
  padding: 2rem 3rem;
  background-color: var(--bg-dark);
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  display: grid;
  gap: 2rem;
}

.instructions {
  max-width: 680px;
}

.clipboard-error > input {
  margin-top: 0.5rem;
  width: 100%;
  color: #5c748f;
  box-sizing: border-box;
  border-color: var(--red);
}
.clipboard-error > .title {
  margin-top: 0.25rem;
  font-style: italic;
  font-weight: 600;
}

.table-wrapper {
  position: relative;
}

.copy-container {
  display: flex;
  gap: 0.5rem;
}
.copy-container > input {
  flex: 1;
  color: var(--black);
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 800px) {
  .table {
    position: absolute !important;
    left: 50%;
    top: 0;
    transform: translate(-50%, 100%) rotate(-90deg);
  }
  .counter-rotate {
    transform: rotate(90deg);
  }

  .container {
    border-radius: 0;
    margin: 0;
    overflow: hidden;
  }

  .copy-container {
    margin-top: 48rem;
  }
}

.table {
  width: fit-content;
  position: relative;

  display: grid;
  grid-template-rows: repeat(5, var(--square-size));
  grid-template-columns: repeat(14, var(--square-size));
  gap: var(--square-gap);
  grid-template-areas:
    "number0 number3 number6 number9 number12 number15 number18 number21 number24 number27 number30 number33 number36 row1"
    "number0 number2 number5 number8 number11 number14 number17 number20 number23 number26 number29 number32 number35 row2"
    "number0 number1 number4 number7 number10 number13 number16 number19 number22 number25 number28 number31 number34 row3"
    ". range0112 range0112 range0112 range0112 range1324 range1324 range1324 range1324 range2536 range2536 range2536 range2536 ."
    ". range0118 range0118 parityEven parityEven colorRed colorRed colorBlack colorBlack parityOdd parityOdd range1936 range1936 .";
}

.table > .outside {
  position: relative;
  border: var(--black) solid 3px;
  box-sizing: border-box;
}
.table > .pocket-black {
  position: relative;
  background-color: var(--black);
}
.table > .pocket-red {
  position: relative;
  background-color: var(--red);
}
.table > .pocket-zero {
  position: relative;
  background-color: var(--green);
}

.table > .outside:hover {
  border-color: var(--black-hover);
  background-color: var(--black-hover);
}
.table > .pocket-black:hover,
.table > .pocket-black.hovered {
  background-color: var(--black-hover);
}
.table > .pocket-red:hover,
.table > .pocket-red.hovered {
  background-color: var(--red-hover);
}
.table > .pocket-zero:hover,
.table > .pocket-zero.hovered {
  background-color: var(--green-hover);
}

.between-pocket {
  position: absolute;
  height: 1rem;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.number0 {
  grid-area: number0;
}
.number3 {
  grid-area: number3;
}
.number6 {
  grid-area: number6;
}
.number9 {
  grid-area: number9;
}
.number12 {
  grid-area: number12;
}
.number15 {
  grid-area: number15;
}
.number18 {
  grid-area: number18;
}
.number21 {
  grid-area: number21;
}
.number24 {
  grid-area: number24;
}
.number27 {
  grid-area: number27;
}
.number30 {
  grid-area: number30;
}
.number33 {
  grid-area: number33;
}
.number36 {
  grid-area: number36;
}
.row1 {
  grid-area: row1;
}
.number2 {
  grid-area: number2;
}
.number5 {
  grid-area: number5;
}
.number8 {
  grid-area: number8;
}
.number11 {
  grid-area: number11;
}
.number14 {
  grid-area: number14;
}
.number17 {
  grid-area: number17;
}
.number20 {
  grid-area: number20;
}
.number23 {
  grid-area: number23;
}
.number26 {
  grid-area: number26;
}
.number29 {
  grid-area: number29;
}
.number32 {
  grid-area: number32;
}
.number35 {
  grid-area: number35;
}
.row2 {
  grid-area: row2;
}
.number1 {
  grid-area: number1;
}
.number4 {
  grid-area: number4;
}
.number7 {
  grid-area: number7;
}
.number10 {
  grid-area: number10;
}
.number13 {
  grid-area: number13;
}
.number16 {
  grid-area: number16;
}
.number19 {
  grid-area: number19;
}
.number22 {
  grid-area: number22;
}
.number25 {
  grid-area: number25;
}
.number28 {
  grid-area: number28;
}
.number31 {
  grid-area: number31;
}
.number34 {
  grid-area: number34;
}
.row3 {
  grid-area: row3;
}
.range0112 {
  grid-area: range0112;
}
.range1324 {
  grid-area: range1324;
}
.range2536 {
  grid-area: range2536;
}
.range0118 {
  grid-area: range0118;
}
.parityEven {
  grid-area: parityEven;
}
.colorRed {
  grid-area: colorRed;
}
.colorBlack {
  grid-area: colorBlack;
}
.parityOdd {
  grid-area: parityOdd;
}
.range1936 {
  grid-area: range1936;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
